<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Us</h2>
        
        <p class="lead">Our mission is to provide secure, easy-to-use volunteer management tools for voter protection programs.</p>
        
        <div class="about-body col-lg-8 col-lg-offset-2 text-left">
          <p>Our group came together around the Georgia runoff, and we've worked in several states in the general election. Some of us have worked multiple elections over the last 13 years.</p>
        </div> <!-- .about-body -->
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
