<section id="our-app" class="our-app">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Our App</h2>
        
        <div class="our-app-body col-lg-8 col-lg-offset-2 text-left">
          <ul>
            <li>Comprehensive data views about volunteers and polling places to guide manual assignment, including maps and filters by several characteristics</li>
            <li>Automated assignments and re-assignments</li>
            <li>Integrated with NGP VAN volunteer data</li>
            <li>Dashboard of polling place coverage</li>
            <li>Data is secure and private</li>
            <li>Developed in coordination with Voter Protection organizers to meet their needs</li>
            <li>Designed to be sustainable and useful across states and cycles</li>
          </ul>
        </div> <!-- .our-app-body -->

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
